body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

canvas {
    display: block;
    position: absolute;
    z-index: -1;
    min-width: 270px;
}

/* Main container */
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 230px;
    margin: 20px 20px 20px 20px;
    position: relative;
}

.main-container .box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    width: 100%;
}

.main-container .box .col{
    display: flex;
    flex-direction: column;
    width: 32.5%;  
}

.main-container .box .col img{
    width: 100%;
    margin-bottom: 50px;
    border-radius: 5px;
    outline: white solid 2px;
}

/* description*/
.description{
    margin-bottom: 50px;
    margin-top: 50px;
    background-color: black;
    color: white;
    border-radius: 10px;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    width: 60%;
    font-style:normal;
    outline: white solid 2px;
    font-stretch: expanded;
}

span.desc-title{
    color:rgb(0, 175, 0);
    font-weight: bold;
}
span.desc-sub{
    font-weight: bold;
}
.description{
    font-size: clamp(10px,2vw,15px);
}

/* Media tags should always be at the bottom of file*/

@media (orientation: portrait){
    .description{
        width: 80%;
    }
}

@media only screen and (max-width: 769px) {
    .main-container .box{
        flex-direction: column;
    }
    .main-container .box .col{
        width: 100%;
 
    }
}