body{
    margin: 0;
    background-color: rgb(17, 17, 17);
}
img{ 
    width:100%; 
    height:auto;
    max-width:100%;
}
@media screen {
    /* This is the main pic*/
    .main-container{
        position: relative;   
        width: 100%;
        height: 1000px;
        margin: 0px;
        min-width: 1000px;
        min-height: 250px;

        background-image: url("../images/mn.jpg");
        background-size: cover;
        background-color: grey;
        background-repeat: no-repeat;
        background-attachment: scroll;

        border-bottom: 1px solid black;
    }
    /* This is the about me pic */
    .main-container-about-me{
        position: absolute;
        border: 20px solid black;
        outline-style: solid;
        outline-color: white;
        width: 800px;
        height: 450px;
        left: 50%;
        top: 50%;
        margin: -300px 0px 0px -400px;
        text-align: center;
        background-color: black;
    }
}
.project-container{
    position: relative;   
    width: 100%;
    height: 1000px;
    margin: 0px;
    min-width: 1000px;
    min-height: 250px;

    background-image: url("../images/m.jpg");
    background-size: cover;
    background-color: grey;
    background-repeat: no-repeat;
    background-attachment: scroll;

    border-bottom: 1px solid white;
}
.main-container-about-me h1{
    background-color: rgba(0, 0, 0, 0.700);
    padding: 10px;
    position: relative;
    left: 38%;
    top: -4%;
    width: 200px;
    padding: 10px;
    border-radius: 25px;
}
.main-container-about-me p{
    font-size: 15px;
    font-weight:bold;
    text-align: justify;
    position: relative;
    left: 35%;
    top: 2%;
    background-color: rgba(0, 0, 0, 0.700);
    width: 450px;
    padding: 10px;
    border-radius: 25px;
}
